{% extends 'base.html' %}
{% block title %}Dashboard | PrestaLabs{% endblock %}
{% block content %}
<div class="dashboard-institucional d-flex flex-column align-items-center justify-content-center">
    <h2>Sistema PrestaLab</h2>
    <div class="dashboard-menu">
        <a href="/usuarios/editar/" class="dashboard-link">Gestión de Usuarios</a>
        <a href="/analisis/dominio/" class="dashboard-link">Análisis de Dominio Completo</a>
        <a href="/analisis/url/" class="dashboard-link">Análisis de URL Específica</a>
    </div>
</div>
{% endblock %}
